{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <p>
            <div class="float-left"><h3>List of {{usertype}}</h3></div>
            {% if user.profile.profilerole.name == "Admin" or user.profile.profilerole.name == "Staff" %}
            <a class="btn btn-success float-right" href="{%  url 'user_add' %}">Add User</a>
            {% endif %}
        </p>
        <div class="table-responsive-sm">
        {% if users %}
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for u in users %}
                    <tr>
                        {% if user.profile.profilerole.name == "Student" %}
                            <th scope="row">
                               {{u.rollnumber}} {{u.firstname}} {{u.lastname}}
                                <span class="badge badge-default"></span>
                            </td>
                        {% else %}
                            <th scope="row">
                                {{u.firstname}} {{u.lastname}}
                                <span class="badge badge-default"></span>
                            </td>
                        {% endif %}
                        <td class="text-center">
                            <a class="btn btn-primary" href="{% url 'profile_details' u.user_id %}">Details</a>
                            <a class="btn btn-warning" href="{% url 'profile_edit' u.user_id %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'user_delete' u.user_id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
        {% else %}
            <p>There is no employee available.</p>
        {% endif %}
        </div>
    </div>

</div>
{% endblock content %}