{% extends 'base.html' %}


{% block content %}
<br>
    <table class="table table-light table-bordered table-striped">
        <tbody>

        <tr>
            <td>Present Record</td>
            <td>{{present_record}}</td>
        </tr>
        <tr>
            <td>Percentage Attendance</td>
            <td>{{percent_attendance}}</td>
        </tr>

    </tbody>
    </table>
</br>
</br>
    <form method="POST" action="{% url 'student_attendance_report' %}">
        {% csrf_token %}
        <label>Enter The Roll number to Generate Attendance Report</label>
        <input type="number" name="rollnumber">
        <button type="submit" class="btn btn-success">Generate Report</button>
    </form>
{% endblock content %}