<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Links for Site</h1>
    <input type="button" value="Dishes" onclick="location.href='dishes/'">
    <input type="button" value="Restaurants" onclick="location.href='/restaurants/'">
    <input type="button" value="Restaurants Reviews" onclick="location.href='restaurantsreviews/'">
    <input type="button" value="Users" onclick="location.href='users/'">


<h1>Rest service Links</h1>
    <input type="button" value="Dishes" onclick="location.href='{{content.dishes}}'">
    <input type="button" value="Restaurants" onclick="location.href='{{content.restaurants}}'">
    <input type="button" value="Restaurants Reviews" onclick="location.href='{{content.restaurantsreviews}}'">
    <input type="button" value="Users" onclick="location.href='{{content.users}}'">
</body>
</html>