<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Information</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>>
</head>
<body>
{{uid}}

<div id="addDiv">
    <h2>Please Fill The information</h2>
    <form method="post" action="/restaurantCRUD/update/{{uid}}/">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="update Restaurant">
    </form>
</div>

<h1>Restaurants Details</h1>
<table>
    {% for item in restaurantsList %}
    <tr>
        <td>
            <label>Restaurant ID : </label>{{item.id}}</br>
            <label>Restaurant Name : </label>{{item.name}}</br>
            <label>Street : </label>{{item.street}}</br>
            <label>City : </label>{{item.city}}</br>
            <label>Contact : </label>{{item.telephone}}</br>
            <label>Website : </label><a href="{{item.url}}">{{item.url}}</a></br>

        </td>
        <td>
            <input type="button" value="Update Restaurant" onclick="location.href='/restaurantCRUD/update/{{item.id}}'">
            <input type="button" value="Delete Restaurant" onclick="location.href='/restaurantCRUD/delete/{{item.id}}'">
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>